.jumbotron {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
    background: rgb(254, 252, 234); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(254, 252, 234, 1) 0%, rgba(241, 218, 54, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(254, 252, 234, 1)), color-stop(100%, rgba(241, 218, 54, 1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(254, 252, 234, 1) 0%, rgba(241, 218, 54, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(254, 252, 234, 1) 0%, rgba(241, 218, 54, 1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(254, 252, 234, 1) 0%, rgba(241, 218, 54, 1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(254, 252, 234, 1) 0%, rgba(241, 218, 54, 1) 100%); /* W3C */
    color: black;
    padding-bottom: 80px;
}

.jumbotron .btn-primary {
    background: #a7b6c7;
    border-color: #ffffff;
}

.jumbotron .btn-primary:hover {
    background: #859ec1;
}

.jumbotron p {
    color: #342c2e;
    max-width: 75%;
    margin: 1em auto 2em;
}

.jumbotron .input-group {
    color: #342c2e;
    max-width: 50%;
    margin: 1em auto 2em;
}

.navbar + .jumbotron {
    margin-top: -20px;
}

.navbar-brand img {

}

ul
{
    list-style-type: none;
}

.pokemon, .allPokemon, .edit_pokemon {
    background-color: whitesmoke;
    border: 1px solid transparent;
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    -goog-ms-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    min-width: 960px;
    max-width: 960px;
    _width: 960px;
    margin: 0 auto;
    padding: 20px 20px;
    margin-bottom: 40px;
}

.pokemon img {
    float: right;
    margin: 15px 15px 15px 20px;
}

.pokemon .pokemonAfter {
    float: right;
}

html{
    height: 100%;
}
